.button_close {
    position: absolute;
    top: -36px;
    right: -0px;
    padding: 0;
    width: 20px;
    height: 20px;
    background: none;
    background-image: url(../../../images/close-icon.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

@media screen and (min-width: 768px) {
    .button_close {
        top: -40px;
        right: -40px;
        width: 32px;
        height: 32px;
        background-size: 32px;
    }
}