.place {
    width: 100%;
    min-height: 361px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
}

@media screen and (min-width: 1024px) {
	.place {
        max-width: 280px;
    }
}