.lead__picture-button {
    padding: 0;
    margin: 0;
    width: 120px;
    height: 120px;
    background: none;
    background-image: url(../../../images/lead-avatar-edit.svg);
    background-size: auto 26px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    opacity: 1%;
    background-color: black;
    transition: opacity 0.4s ease;
}

.lead__picture-button:hover {
    opacity: 80%;
    cursor: pointer;
}