.form-reg_submit {
    margin: 173px 0 0 0;
    padding: 0;
    width: 100%;
    height: 46px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    line-height: 17px;
}

.form-reg_submit:hover {
    opacity: 80%;
}

@media screen and (min-width: 768px) {
    .form-reg_submit {
        margin: 216px 0 0 0;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}