.button__trash {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background: none;
    background-image: url(../../../images/place-trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}